<div class="nav-links">
  <ul>
    <a href='/dogs'><li>Dogs</li></a>
    <a href='/cats'><li>Cats</li></a>
    <a href='/login'><li>Login</li></a>
    <a class="signup" href='/signup'><li>Signup</li></a>
  </ul>
</div>