@import '../../../../styles/global/fonts';
@import '../../../../styles/global/colours';

h1 {
    font-family: $fontHeaderStack;
}

.nav-links {
    float: right;
    width: 50%;
    padding: 25px 40px;
    background: red;

    ul {
        text-align: center;
        display: inline-block;
        font-family: $fontTitleStack;
        float: right;

        li {
            padding: 10px 20px;
            display: inline;

            a {
                text-decoration: none;
            }
        }

        .signup {
            width: 200px;
            font-family: $fontCaptionStack;
            font-size: 16px;
            color: white;
            border-radius: 5px;
            border: 5px solid $main-brand-color;
            background-color: transparent;
            padding: 15px 15px;

            &:hover {
                background-color: $main-brand-color;
            }
        }

    }
}
