@import '../../../../styles/global/fonts';
@import '../../../../styles/global/colours';

h1 {
    font-family: $fontHeaderStack;
}

.footer-bar {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0px;
    background-color: $main-dark-shade;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo {
    flex: 4;
}

.siteMap {
    flex: 4;
    padding: 10px 0px 0px 0px;
    line-height: 1.35rem;

    .columnOne {
        width: 50%;
        float: left;
    }

    .columnTwo {
        width: 50%;
        float: right;
    }

    h3 {
        color: $cool-white;
        font-family: $fontSubheaderStack;
        font-size: 24px;
        padding: 10px 0px;
    }

    a {
        color: darken($color: $cool-white, $amount: 20%);
        font-family: $fontSubheaderStack;
        font-size: 18px;
        padding: 5px 0px;
    }
}

.contact {
    flex: 4;

    .form-wrapper {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;

        form {
            width: 100%;
            margin: 0 auto;
        }

        input[type="text"] {
            width: 100%;
            height: 20px;
            border: none;
            border-radius: 1px;
            color: $main-dark-color;
            font-family: $fontBodyStack;
            font-size: 18px;
            background-color: $main-light-shade;
            margin: 5px 0px;
        }

        textarea {
            width: 100%;
            height: 120px;
            border: none;
            border-radius: 1px;
            color: $main-dark-color;
            font-family: $fontBodyStack;
            font-size: 18px;
            resize: none;
            background-color: $main-light-shade;
            margin: 5px 0px;
        }

        button {
            width: 100%;
            margin: 0 auto;
            font-family: $fontCaptionStack;
            font-size: 16px;
            color: white;
            border-radius: 5px;
            border: 5px solid $main-brand-color;
            background-color: transparent;
            padding: 10px;

            &:hover {
                background-color: $main-brand-color;
            }
        }
    }
}