<div class="footer-bar">
  <div class="wrapper">

    <div class="logo">

    </div>
    
    <div class="siteMap">
      <div class="columnOne">
        <h3>Dogs</h3>
        <ul>
          <a><li>Adopt</li></a>
          <a><li>Search</li></a>
        </ul>
        <h3>Cats</h3>
        <ul>
          <a><li>Adopt</li></a>
          <a><li>Search</li></a>
        </ul>
        <h3>Info</h3>
        <ul>
          <a><li>Privacy Policy</li></a>
          <a><li>Contact</li></a>
          <a><li>Impressum</li></a>
        </ul>
      </div>
      
      <div class="columnTwo">
        <h3>Social Media</h3>
        <ul>
          <a><li>Facebook</li></a>
          <a><li>Instagram</li></a>
          <a><li>Twitter</li></a>
          <a><li>Snapchat</li></a>
          </ul>
          <h3>Sponsors</h3>
          <ul>
            <a><li>Google</li></a>
            <a><li>ASPCA</li></a>
            <a><li>Best Friends Animal Society</li></a>
          </ul>
      </div>
    </div>

    <div class="contact">
      <div class="form-wrapper">
          <form>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="E-mail">
            <textarea name="message" columns="30" rows="10" placeholder="Please enter your message here"></textarea>
            <button type="submit" value="Submit" 
              [swal]="{ title: 'Submitted', text: 'Your details have been successfuly submitted', type: 'success', confirmButtonText: 'Okay'}">Submit</button>
          </form>
      </div>
      
    </div>

  </div>
</div>